@font-face {
    font-family: 'Iniya Display';
    src: url('fonts/iniya/IniyaDisplay.woff') format('woff'),
        url('fonts/iniya/IniyaDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lotuscoder';
    src: url('fonts/lotuscoder/Lotuscoder.woff') format('woff'),
        url('fonts/lotuscoder/Lotuscoder.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    width: 300px;
    height: 250px;
    background-image: linear-gradient(to top left, #73667a, #ecc3c1);
    line-height: 100%;
    padding: 5px;
}

.title {
    text-align: center;
    width: 100%;
    height: 100%;
}

.title h1 {
    color: #fff;
    font-family: 'Iniya Display';
    font-size: 50px;
}

.desc {
    font-family: 'Lotuscoder';
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.user {
    float: left;
    align-content: center;
    width: 40%;
}

.button {
    background-color: #73667a;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Lotuscoder';
    font-size: 15px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #eeaac3;
    cursor: pointer;
}

.result {
    float:right;
    width: 50%;
    align-content: center;
}

.heading {
    text-align: center;
    background-color: #eeaac3;
    font-family: 'Lotuscoder';
    color: #fff;
    font-size: 15px;
    /* border: 1px solid #fff; */
}

.info {
    font-family: 'Lotuscoder';
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-top: -5px;

}
